# Environment Configuration
NODE_ENV="development"
PORT="2020"
HOST="localhost"
ENV="local"

# CORS Settings
CORS_ORIGIN="http://localhost:*"

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"
COMMON_RATE_LIMIT_MAX_REQUESTS="2000"

# API
API_VERSION="v1"
BASE_URL=""
CLIENT_ID=""
PRODUCTS_API="https://dummyjson.com/products"

# MongoDB
MONGO_URI="mongodb://localhost:27017/test"
MONGO_URI_LOCAL="mongodb://localhost:27017/test"
MONGO_URI_TESTS="mongodb://localhost:27017/test"
MONGO_URI_TESTS_LOCAL="mongodb://localhost:27017/test"

# Kafka
KAFKA_BROKER="localhost:9092"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# OpenAI
OPENAI_API_KEY=""

# Slack
SLACK_CHANNEL=""
SLACK_TOKEN=""

# AI Models
AI_MODELS="ai/gemma3,ai/mistral,ai/smollm2"
 
ENABLE_FILE_LOGGING=true

MINIO_ACCESS_KEY=admin123
MINIO_SECRET_KEY=admin123
MINIO_PORT=9000
MINIO_ENDPOINT=localhost